.parallaxx-card--box_con-1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.parallaxx-card--box_con-2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
