.error-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.error-box button {
  margin-top: 70px;
}

.circle.small {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #48a9e6;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  animation: 7s smallmove infinite cubic-bezier(1, 0.22, 0.71, 0.98);
  -webkit-animation: 7s smallmove infinite cubic-bezier(1, 0.22, 0.71, 0.98);
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

.circle.med {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #48a9e6;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10%;
  animation: 7s medmove infinite cubic-bezier(0.32, 0.04, 0.15, 0.75);
  -webkit-animation: 7s medmove infinite cubic-bezier(0.32, 0.04, 0.15, 0.75);
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.circle.big {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #48a9e6;
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 0;
  animation: 8s bigmove infinite;
  -webkit-animation: 8s bigmove infinite;
  animation-delay: 3s;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes smallmove {
  0% {
    top: 5%;
    left: 45%;
    opacity: 1;
  }
  25% {
    top: 30%;
    left: 70%;
    opacity: 0.7;
  }
  50% {
    top: 80%;
    left: 55%;
    opacity: 0.4;
  }
  75% {
    top: 30%;
    left: 20%;
    opacity: 0.6;
  }
  100% {
    top: 5%;
    left: 45%;
    opacity: 1;
  }
}

@keyframes smallmove {
  0% {
    top: 5%;
    left: 45%;
    opacity: 1;
  }
  25% {
    top: 30%;
    left: 70%;
    opacity: 0.7;
  }
  50% {
    top: 80%;
    left: 55%;
    opacity: 0.4;
  }
  75% {
    top: 30%;
    left: 20%;
    opacity: 0.6;
  }
  100% {
    top: 5%;
    left: 45%;
    opacity: 1;
  }
}

@-webkit-keyframes medmove {
  0% {
    top: 0px;
    left: 40%;
    opacity: 1;
  }
  25% {
    top: 30%;
    left: 80%;
    opacity: 0.7;
  }
  50% {
    top: 50%;
    left: 20%;
    opacity: 0.4;
  }
  75% {
    top: 20%;
    left: 50%;
    opacity: 0.6;
  }
  100% {
    top: 0px;
    left: 40%;
    opacity: 1;
  }
}

@keyframes medmove {
  0% {
    top: 0px;
    left: 40%;
    opacity: 1;
  }
  25% {
    top: 30%;
    left: 80%;
    opacity: 0.7;
  }
  50% {
    top: 50%;
    left: 20%;
    opacity: 0.4;
  }
  75% {
    top: 20%;
    left: 50%;
    opacity: 0.6;
  }
  100% {
    top: 0px;
    left: 40%;
    opacity: 1;
  }
}

@-webkit-keyframes bigmove {
  0% {
    top: 0px;
    right: 4%;
    opacity: 0.5;
  }
  25% {
    top: 40px;
    right: 40%;
    opacity: 0.4;
  }
  50% {
    top: 100px;
    right: 45%;
    opacity: 0.8;
  }
  75% {
    top: 10px;
    right: 70%;
    opacity: 0.6;
  }
  100% {
    top: 0px;
    right: 4%;
    opacity: 0.5;
  }
}
@keyframes bigmove {
  0% {
    top: 0px;
    right: 4%;
    opacity: 0.5;
  }
  25% {
    top: 40px;
    right: 40%;
    opacity: 0.4;
  }
  50% {
    top: 100px;
    right: 45%;
    opacity: 0.8;
  }
  75% {
    top: 10px;
    right: 70%;
    opacity: 0.6;
  }
  100% {
    top: 0px;
    right: 4%;
    opacity: 0.5;
  }
}
