.whole-box {
  background-color: #f3f6faa2;
  margin-top: 30rem;
  padding: 15rem 2rem 15rem 2rem;
  border-radius: 0rem 23rem 23rem 0rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-right: 3rem;
}

.about-us-page {
  width: 90%;
  margin: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .img-box {
    margin-right: 12rem;

    img {
      max-width: 40vw;
      max-height: 70rem;
      width: auto;
      height: auto;
      border-radius: 10rem 0rem 10rem 10rem;
    }
  }
  .content {
    width: 37vw;
    justify-self: flex-start;
    justify-content: flex-start;
    padding-bottom: 7.8rem;

    span {
      display: block;
    }
    .heading-page,
    p {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 4.3rem;
      margin-top: 3rem;
    }
    .heading-page {
      color: #266cf6;
    }
    p {
      color: #292d2ee7;
    }
  }
}

.line-height {
  margin-top: 2.4rem;
}

/////////////////////////// Brack Point ///////////////////////////

@media screen and (max-width: 1291px) {
  .about-us-page {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;

    .img-box {
      margin-bottom: 8rem;
      margin-right: 0rem;
    }
  }
}

@media screen and (max-width: 840px) {
  .whole-box {
    margin-right: 0rem;
    padding: 15rem 0rem 0rem 0rem;
  }

  .about-us-page {
    .img-box {
      img {
        max-width: 80vw;
      }
    }
    .content {
      width: 80vw;
    }
  }
  .content {
    .heading-page {
      display: flex;
      justify-content: center;
    }
    .heading-mainn {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 699px) {
  .content {
    p {
      height: 80rem;
      padding: 0rem 0rem 0rem 0rem;
    }

    .heading-mainn {
      width: 80vw;
      margin-bottom: 2rem;
      padding: 0rem 0rem 8rem 0rem;
    }
  }
}
@media screen and (max-width: 292px) {
}
