$numOfParts: 4;
$animTime: 1s;
$stagger: 0.08s;
$sliderReadyTrans: all $animTime/2 $animTime;
$maxLettersStagger: 6;
$letterStagger: 0.1s;

.image-gallary-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 11rem;
  flex-wrap: wrap;

  .image-gallary-main {
    width: 95rem;
    height: 70rem;
    border: 1.3rem solid #ffffff;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(21, 20, 20, 0.34);
    margin-bottom: 10rem;
  }

  .image-gallary-box--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70rem;

    .image-gallary-box1 {
      display: flex;
      flex-direction: row;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 75rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
        }
      }
    }
    .image-gallary-box2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75rem;
      flex-wrap: wrap;
      margin-top: 4rem;

      img {
        &:nth-child(1),
        &:nth-child(2) {
          width: 35rem;
          height: 33rem;
          border: 1rem solid #ffffff;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
        }
      }
    }
  }
}

.popup-buuton {
  padding: 4rem;
  background-color: cornflowerblue;
}

.madal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  max-width: 20%;
  width: 909px;
  height: 720px;
}

.popup-close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-slider {
  top: 0rem;
  left: 0rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.671);

  .image-popup-box {
    display: flex;
    position: relative;
    top: 10rem;
    justify-content: center;
    img {
      width: 5rem;
      height: 5rem;
      color: white;
      margin-left: 30px;
    }
    .close-gallary {
      width: 5rem;
      height: 5rem;
      color: white;
      float: right;
    }

    .close-gallary:hover,
    .close-gallary:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 317px) {
  .image-gallary-container {
    .image-gallary-main {
      width: 80rem;
      height: 55rem;
    }
  }
}

@media screen and (max-width: 203px) {
  .image-gallary-container {
    .image-gallary-main {
      width: 75rem;
      height: 50rem;
    }
  }
}

@media screen and (max-width: 170px) {
  .image-gallary-container {
    .image-gallary-main {
      width: 70rem;
      height: 45rem;
    }
  }
}

@media screen and (max-width: 159px) {
  .image-gallary-container {
    .image-gallary-main {
      width: 60rem;
      height: 35rem;
    }
  }

  .image-gallary-box1 img {
    &:nth-child(1),
    &:nth-child(2) {
      width: 25rem;
      height: 23rem;
    }
  }
  .image-gallary-box2 img {
    &:nth-child(1),
    &:nth-child(2) {
      width: 25rem;
      height: 23rem;
    }
  }
}
