.footersmall-container {
  position: relative;
  margin-top: -4.5rem;
  clear: both;
}

.footersmall-copyright {
  width: 100%;
  position: relative;
  bottom: 0rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.411);
  background: #266cf6;
  padding: 2rem 0rem 2rem 0rem;
  color: white;
}
