main .main-presentation {
  display: flex;
  width: 90%;
  margin: auto;
  .intro {
    flex: 1;
    margin-top: 9.2rem;
    .intro-content {
      p {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 3.6rem;
        line-height: 4.3rem;
        color: #292d2e;
        margin-top: 3rem;
      }
    }
  }

  .cta {
    margin-top: 6rem;
  }
}

span {
  display: block;
}

.cover {
  img {
    width: 40vw;
  }
}
.big-ellipse {
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 90rem;
  width: 58vw;
  opacity: 0.7;
  z-index: -1;
  width: 58vw;
}

.mid-ellipse {
  position: absolute;
  top: 0rem;
  left: 0rem;
  opacity: 0.5;
  filter: blur(0rem);
  z-index: -1;
  width: 23.5vw;
}

.small-ellipse {
  position: absolute;
  top: 0rem;
  left: 0rem;
  filter: blur(0.2rem);
  z-index: -1;
  width: 20.5vw;
}

@media screen and (max-width: 440px) {
  .main-presentation {
    display: flex;
    flex-direction: column;
  }

  .intro {
    text-align: center;
  }

  .big-ellipse,
  .mid-ellipse,
  .small-ellipse {
    opacity: 0.4;
  }

  .svgs {
    display: none;
  }

  .cover {
    img {
      width: 85vw;
    }
  }
}
