.parallaxx__imagee {
  .parallaxx__image--container {
    width: 100%;
    min-height: 68rem;
    position: absolute;
    top: 12rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .parallaxx__inner--box {
    h2 {
      position: absolute;
      left: 13.4rem;
      top: 40.3rem;
      text-transform: capitalize;
      font-style: normal;
      font-weight: normal;
      font-size: 6.2rem;
      line-height: 6.4rem;
      color: #ffffff;
    }
    .parallaxx__box--address {
      position: absolute;
      left: 13.5rem;
      top: 53.4rem;
      font-style: normal;
      font-weight: normal;
      font-size: 3.8rem;
      line-height: 4.7rem;
      color: #ffffff;
    }
    p:last-child {
      position: absolute;
      left: 13.4rem;
      top: 59rem;
      font-style: normal;
      font-weight: normal;
      font-size: 3rem;
      line-height: 3.5rem;
      color: #ffffff;
    }
  }

  .parallaxx__box {
    position: absolute;
    top: 80rem;
    height: 400rem;
    font-size: 4rem;
    width: 100%;
    background: #d3e2f2;
    display: flex;
    flex-direction: column;

    h2 {
      position: relative;
      top: 45%;
      left: 0;
    }
    .parallaxx__card-2 {
      margin-top: 18rem;
    }
  }
}

.parallaxx__card {
  background-color: #d3e2f2;
}
