.testimonials-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45rem;

  .testimonials-top {
    margin-bottom: 14rem;
  }
  .testimonials-box-inner {
    margin-bottom: 6rem;
  }
}
