.heading1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 8.5rem;
  background: linear-gradient(to right, #292d2e, #525b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  line-height: 8.5rem;
  background: linear-gradient(to right, #292d2e, #525b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.headingv2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 5.8rem;
  line-height: 8.5rem;
  background: linear-gradient(to right, #292d2e, #525b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 5rem;
  background: linear-gradient(to right, #292d2e, #525b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 5rem;
  background: linear-gradient(to right, #292d2e, #525b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
