.whole-contenter {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.property-card {
  height: 24em;
  width: 34em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  text-align: -webkit-match-parent;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-card:hover {
  box-shadow: -2px 4px 17px 8px rgba(0, 0, 0, 0.05);
}

.property-image {
  height: 14em;
  width: 14em;
  margin-bottom: 0.8rem;
}

h5 {
  margin: 0rem;
  font-size: 3.2em;
  font-weight: 700;
}
