.contact-details-card-boxx {
  .contact-details-box {
    width: 53.2rem;
    height: 65.5rem;
    padding: 9rem 3rem 0rem 3.8rem;
    background: rgba(235, 244, 254, 0.34);
    box-shadow: 15px 15px 14px rgba(0, 0, 0, 0.05);
    border-radius: 4.4rem;

    .contact-details-title {
      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 2.8rem;
        line-height: 3.3rem;
        color: #3b4144;
        margin-top: 5rem;
        padding-bottom: 3rem;
      }
    }

    .contact-details-name {
      display: flex;
      align-items: center;
      img {
        height: 7rem;
        width: 7rem;
        border-radius: 2rem;
      }
      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 3.7rem;
        color: #3b4144;
        margin-left: 1.5rem;
      }
    }

    .contact-details-info {
      margin-top: 1.5rem;
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 2.9rem;
        color: #3b4144;
        margin-top: 0.8rem;
      }
    }

    .contact-details-description {
      margin-top: 3.6rem;
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: #3b4144;
      }
    }
  }
}

@media screen and (max-width: 265px) {
  .contact-details-card-boxx .contact-details-box .contact-details-title h3 {
    line-height: 5rem;
  }
}
