.loader-container {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 14rem;
  height: 14rem;
  position: relative;
  border: 0.8rem solid #266cf6;
  border-radius: 2rem;
  animation: loader 2s infinite ease;
}

.loader-heading {
  margin-bottom: 7rem;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 101%;
  background-color: #266cf6;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
