.footer-whole-container {
  position: relative;
  margin-top: -27rem;
  clear: both;
}

.footer-container {
  width: 100%;
  background: #266cf6;
  position: relative;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30rem 0rem 0rem 0rem;

  .footer-main-content {
    padding-top: 8rem;
    padding-left: 20rem;
    width: 90%;
    margin: auto;
    display: flex;
    color: white;
    justify-content: space-between;

    .link-pointer {
      cursor: pointer;
    }

    .footer-main-link {
      flex-basis: 10%;

      h2 {
        font-size: 4.4rem;
        color: white;
        font-weight: normal;
      }
    }

    .footer-side-links {
      flex-basis: 80%;
      display: flex;
      padding-top: 5rem;
      flex-wrap: wrap;

      .footer-location,
      .footer-explore,
      .fooder-professionals,
      .fooder-address {
        h4 {
          font-size: 2.4rem;
          padding-bottom: 1.4rem;
          font-weight: normal;
          border-bottom-width: 2px;
        }

        hr {
          border: 0;
          height: 0.02rem;
          width: 30%;
          background: rgba(255, 255, 255, 0.411);
        }
      }
      .footer-location,
      .footer-explore,
      .fooder-professionals,
      .fooder-address {
        flex-basis: 22.5%;
      }

      .footer-explore,
      .fooder-professionals,
      .fooder-address {
        padding-left: 2.5%;
      }
      .fooder-link {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        margin-top: 4.2rem;
        color: white;

        .fooder-links {
          margin-bottom: 1.6rem;
          font-size: 1.8rem;
          color: white;
        }
      }

      .footer-location {
        display: flex;
        flex-direction: column;
      }

      .fooder-address {
        .fooder-address-deatials {
          padding-top: 3.2rem;
        }

        h3 {
          font-size: 2.4rem;
          padding-top: 1.6rem;
          font-weight: normal;
        }

        .fooder-madia-links {
          margin-top: 4rem;
          display: flex;
          justify-content: space-between;
          img {
            width: 4rem;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.411);
    background: #266cf6;
    padding: 2rem 0rem 2rem 0rem;
    color: white;
  }
}

///////////////////////////////// BrackPoints /////////////////////////////////

@media screen and (max-width: 479px) {
  .footer-container {
    .footer-main-content {
      flex-direction: column;

      .footer-side-links {
        flex-direction: column;

        .footer-location,
        .footer-explore,
        .fooder-professionals,
        .fooder-address {
          flex: 1;
          padding-bottom: 3rem;
        }

        .footer-explore,
        .fooder-professionals,
        .fooder-address {
          padding-left: 0%;
        }
        .fooder-madia-links {
          padding-bottom: 2rem;
        }

        .footer-location,
        .footer-explore,
        .fooder-professionals,
        .fooder-address {
          .fooder-link {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .fooder-links {
              padding-right: 3rem;
            }
          }
        }
      }
    }
  }
}
