select {
  outline: none;
  box-shadow: none;
  border: 0 !important;
}

// select:focus,
// select:hover {
//   color: #071738;
// }

.search-box {
  .search-box-inner {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background: #266cf6;
    padding: 2.6rem 1rem 4rem 12rem;
    width: 140rem;
    margin: auto;
    border: none;
    border-radius: 10rem;
    outline: none;
    box-shadow: 0 5px 25px 0 #266bf64b, 0 4px 5px 0 #266bf62a;
    margin-bottom: 8rem;
  }

  .house-search-filter-container {
    margin-right: 8rem;
    margin-top: 2rem;
    // flex: 1;
    label {
      font-size: 2.7rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    select {
      font-size: 2.2rem;
      color: #fff;
      background: #1d2433;
      border-radius: 1.5rem;
      padding: 1rem;
      width: 22rem;
      height: 4.4rem;
      border: none;
      -webkit-appearance: button;
      background-size: 22rem;
      outline: none;

      // arrow
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url(../../External/img/dropdown.svg);
      background-position: right 2rem top 50%;
      background-repeat: no-repeat;
      background-size: 2rem;
    }

    input[type="range"] {
      margin: auto;
      outline: none;
      padding: 0;
      width: 100%;
      height: 2rem;
      background-color: #ffffff;
      background-repeat: no-repeat;
      border-radius: 2rem;
      cursor: pointer;
      -webkit-appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      width: 4rem;
      height: 4rem;
      border: 0;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
      background-color: #266cf6; ///
      border: 0.37rem solid #ffffff;
      border-radius: 1.5rem;
      cursor: pointer;
      -webkit-appearance: none;
    }

    input[type="range"]::-moz-range-thumb {
      width: 4rem;
      height: 4rem;
      border: 0;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
      background-color: #266cf6;
      border: 0.25rem solid #ffffff;
      border-radius: 1rem;
      cursor: pointer;
    }

    input[type="number"] {
      border: none;
      outline: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-sizing: 0 2px 5px rgba(0, 0, 0, 0.5);
      font-size: 2.2rem;
      font-weight: 500;
    }
    .input-num-1 {
      margin-right: 2rem;
    }
  }
}

@keyframes searchanimation {
  0% {
    transform: translate(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-8px);
  }
}

@media screen and (max-width: 470px) {
  .search-box {
    .search-box-inner {
      width: 120rem;
    }
  }
}

@media screen and (max-width: 370px) {
  .search-box {
    .search-box-inner {
      width: 100rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .search-box {
    .search-box-inner {
      width: 90rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .search-box {
    .search-box-inner {
      width: 80rem;
    }
  }
}
