* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
}

html,
body {
  height: 100%;
}

.full-hight {
  min-height: 100%;
}

#sell-hight {
  min-height: 100%;
}

#house-hight {
  min-height: 100%;
  // height: 112rem;
}

#agent-finder-hight {
  min-height: 100%;
}

#sell-heading-height {
  min-height: 100%;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 6000px) {
  html {
    font-size: 23px;
  }
}

@media screen and (max-width: 5000px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 2900px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 2300px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 2000px) {
  html {
    font-size: 8px; // 9px
  }
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 7px; // 8px
  }
}

@media screen and (max-width: 1700px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 1419px) {
  html {
    font-size: 6.6px;
  }
}

@media screen and (max-width: 1267px) {
  .svgs {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 1125px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 769px) {
  html {
    font-size: 4px;
  }
}

@media screen and (max-width: 670px) {
  html {
    font-size: 3px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 3px;
  }

  .no-shadow-img1,
  .no-shadow-img2 {
    display: none;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 370px) {
  html {
    font-size: 3px;
  }
}
@media screen and (max-width: 265px) {
  html {
    font-size: 2.2px;
  }
}
@media screen and (max-width: 184px) {
  html {
    font-size: 1.8px;
  }
}
