.navbarq {
  width: 100%;
  justify-content: center;
  transition: 0.45s;
}

.scrolled {
  position: fixed;
  top: 0rem;
  background-color: #fff;
  border-bottom: 1px solid #494646;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  height: 10.5rem;
  align-items: center;
  margin-top: 0.7rem;

  .logo-container,
  .nav-links,
  .button {
    display: flex;
  }
  .logo-container {
    width: 5rem;
    flex: 1;
  }
  .nav-links {
  }

  .nav-container {
    display: flex;
    align-items: center;

    .nav-li {
      margin-right: 10rem;
    }
  }

  .logo-container {
    width: 5rem;

    .logo-text {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 4.3rem;

      a {
        color: #292d2e;
      }
    }
  }

  nav {
    flex: 2;
    justify-content: space-between;
    list-style: none;

    .link {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: #494646;
      width: 5rem;
      height: 2rem;
    }
  }
}

/////////////////////////// Brack Point ///////////////////////////

@media screen and (max-width: 440px) {
  header nav {
    justify-content: start;
    flex: 2;
    list-style: none;
  }
  header .nav-links {
    margin-right: 0rem;
  }
  .nav-container {
    display: flex;
    justify-content: space-evenly;
  }
  .button {
    display: none;
    .btn2 {
      display: none;
    }
  }
  .logo-none {
    display: none;
  }

  .fade1 {
    padding-top: 15rem;
  }

  .nav-links {
    height: 100rem;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #346ee2;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: circle(7.4rem at 98% -10%);
    -webkit-clip-path: circle(7.4rem at 98% -10%);
    transition: all 1s ease-out;
    pointer-events: none;

    li {
      position: relative;
      margin-top: 12rem;
      opacity: 0;
      a {
        color: white;
        font-size: 4rem;
      }
    }
  }
  .open {
    clip-path: circle(1400px at 90% -5%);
    -webkit-clip-path: circle(1400px at 90% -5%);
    pointer-events: all;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 1s;
  }

  .up-bur {
    z-index: 2;
    cursor: pointer;
  }

  .burger {
    z-index: 2;
    cursor: pointer;

    .line {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #494646;
      margin-bottom: 0.5rem;
    }
  }

  .open-burger {
    div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: #494646;
      margin-bottom: 0.5rem;
      transform-origin: 1px;
      transition: all 0.3s linear;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  li.fade {
    opacity: 1;
    transform: translateY(-30px);
  }
}
