.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #292d2ee7;
    text-align: center;
  }

  .heading-page,
  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 4.3rem;
    margin-top: 3rem;
  }

  .heading-page {
    color: #266cf6;
  }
}
////////////////////////////////  Margin-Top /////////////////////////////////

.yes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  p {
    color: #292d2ee7;
    text-align: center;
  }

  .heading-page,
  p {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 4.3rem;
    margin-top: 3rem;
  }

  .heading-page {
    color: #266cf6;
  }
}
